<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <h1>Product Details</h1>
    </header>
    <nav>
      <a class="nav-link" href="/">HOME</a>
      <a class="nav-link" href="/footwear">GALLERY</a>
      <a class="nav-link" href="/footwear/new">NEW LISTING</a>
      <a class="nav-link" href="/footwear/<%=shoes.id%>/edit" class="nav-btn">EDIT LISTING</a>
    </nav>
    <div class="product-container">
      <div class="item-info">
        <h3>Style: <%=shoes.style%></h3>
        <h3><%=shoes.gender%></h3>
        <h3><%=shoes.brand%></h3>
        <h3><%=shoes.model%></h3>
        <img src="<%=shoes.imageURL%>" alt="Picture of <%=shoes.model%>">
        <h4>Size: <%=shoes.size%></h4>
        <h4>Price: $<%=shoes.price%></h4>
        <h4>Qty Available: <%=shoes.quantity%></h4>

      <form action="/footwear/<%=shoes.id%>?_method=DELETE" method="POST">
        <input class="submit-btn" type="submit" value="DELETE" />
      </form>
      <% if ( shoes.quantity > 0) { %>
        <form action="/footwear/<%=shoes.id%>?_method=PUT" method="POST">
          <input class="submit-btn" type="submit" value="BUY" >
        </form>
        <% } else { %>
          <h3>Out Of Stock</h3>
        <% } %>
      </div>
    </div>
  </body>
</html>
