<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <h1>REUSE</h1>
      <h2>Footwear Gallery</h2>
    </header>
    <nav>
      <a class="nav-link" href="/">HOME</a>
      <a class="nav-link" href="/footwear/new">NEW  FOOTWEAR LISTING</a>
      <a class="nav-link" href="/clothing">CLOTHING GALLERY</a>
    </nav>
    <!-- container for item and its info -->
    <div class="item-container">
      <% for (let i = 0; i < products.length; i ++) { %>
        <div class="item">
          <a href="/footwear/<%=products[i].id%>">
          <h3><%= products[i].gender%>
            <%= products[i].brand%>
            <%= products[i].model%></h3>
          <img src="<%= products[i].imageURL%>" alt="Picture of shoe">
          <h4>Price: $<%= products[i].price%></h4>
          </a>
        </div>
      <%}%>
    </div>
    <footer>
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
