<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <h1>Edit Listing</h1>
    </header>
    <nav>
      <a class="nav-link" href="/">HOME</a>
      <a class="nav-link" href="/footwear">GALLERY</a>
      <a class="nav-link" href="/footwear/new">NEW LISTING</a>
    </nav>
    <form class="" action="/footwear/<%=shoes.id%>?_method=PUT" method="POST">
      <label>
        Style
        <input type="text" name="style" value="<%=shoes.style%>">
      </label>
      <label>
        Gender
        <input type="text" name="gender" value="<%=shoes.gender%>">
      </label>
      <label>
        Brand
        <input type="text" name="brand" value="<%=shoes.brand%>">
      </label>
      <label>
        Model
        <input type="text" name="model" value="<%=shoes.model%>">
      </label>
      <label>
        Image URL
        <input type="text" name="imageURL" value="<%=shoes.imageURL%>">
      </label>
      <label>
        Size
        <input type="text" name="size" value="<%=shoes.size%>">
      </label>
      <label>
        Price
        <input type="text" name="price" value="<%=shoes.price%>">
      </label>
      <label>
        Quantity
        <input type="text" name="quantity" value="<%=shoes.quantity%>">
      </label>
    <input class="submit-btn" type="submit" value="Update Listing">
    </form>

  </body>
</html>
